.container {
    margin: 40px;
    height: 400px;
    width: 400px;
    display: flex;
    background-color: antiquewhite;
    /* WITHOUT FLEX-WRAP:WRAP all the numbers are in same line
     nowrap (default): all flex items will be on one line
     wrap: flex items will wrap onto multiple lines, from top to bottom. 
     wrap-reverse: flex items will wrap onto multiple lines from bottom to top.
    */
    /* row (default): left to right in ltr; right to left in rtl
    row-reverse: right to left in ltr; left to right in rtl
    column: same as row but top to bottom
    column-reverse: same as row-reverse but bottom to top */
    flex-wrap: wrap;  
    flex-direction: row;
    /* so there are 8 directions we can laid our items in the conatiner. we can form thse combination with
     flex-wrap and flex-direction wrap/wrap-reverse, row/row-reverse, column-reverse/column*/
    
     /* display: inline-flex; */

     /* how items within the row are aligned in order */
     justify-content: center;

     /* when we have text at different height of the item then we can align them using */
     /* align items within the row perpendiculary */
     align-items: baseline;

     /* it align the entire set of items(how all rows together are aligned) */
     align-content: flex-end;

}

.item {
    border: dotted maroon 2.5px;
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color: lightseagreen;
    font-size: 20pt;
    color: white;
    
}